extends common/layout

block layout-content
  .about-us
    h1.page-title About Book Haven
    p.p1 Book Haven is a haven for book lovers of all ages. We are passionate about the power of stories and believe that everyone can find a book that will transport them to another world, ignite their imagination, and expand their knowledge.

    .about-content
      .about-image
        img(src="/img/bookstore-interior.jpg", alt="Bookstore Interior")
      .about-text
        p Whether you're a seasoned bibliophile or just starting your literary journey, we offer a welcoming and knowledgeable staff to help you find the perfect book. We have a curated selection of fiction, non-fiction, and children's books, as well as a cozy reading nook where you can curl up with a good book.

  .mission-statement
    h2 Our Mission
    p To provide a welcoming and inspiring space for people to discover the joy of reading.
    p To offer a curated selection of high-quality books for all ages and interests.
    p To support our local community by hosting author events, book clubs, and other literary programs.

  .team
    h2 Meet Our Team
    .team-member
      img(src="/img/team-member1.jpg", alt="Team Member 1")
      p.name John Smith
      p.title Owner & Bookseller
    .team-member
      img(src="/img/team-member2.jpg", alt="Team Member 2")
      p.name Jane Doe
      p.title Bookseller & Reading Enthusiast
    
  .contact-us
    h2 Contact Us
    p We'd love to hear from you!
    p.address
      123 Main Street
      Anytown, CA 12345
    p.phone (555) 555-5555
    p.email info@bookhaven.com
