extends common/layout

block layout-content
  .about-us
    h1.page-title About Book Haven
    p.p1 Book Haven is a haven for book lovers of all ages. We are passionate about the power of stories and believe that everyone can find a book that will transport them to another world, ignite their imagination, and expand their knowledge.

  .about-content
    .about-image
      //img url: https://i.pinimg.com/originals/21/55/1c/21551c894d5b54676a9180a3e35ef237.jpg
      img#img1(src="/img/bookstore.jpg", alt="Bookstore Interior")
    .about-text
      p Whether you're a seasoned bibliophile or just starting your literary journey, we offer a welcoming and knowledgeable staff to help you find the perfect book. We have a curated selection of fiction, non-fiction, and children's books, as well as a cozy reading nook where you can curl up with a good book.

  .mission-statement
    h2 Our Mission
    p To provide a welcoming and inspiring space for people to discover the joy of reading.
    p To offer a curated selection of high-quality books for all ages and interests.
    p To support our local community by hosting author events, book clubs, and other literary programs.

  h2 Meet Our Team
  .team
    .team-member
      //img url: https://c8.alamy.com/comp/H6D5F6/portrait-of-male-bookshop-owner-H6D5F6.jpg
      img#img(src="/img/owner.jpeg", alt="Team Member 1")
      p.name John Smith
      p.title Owner & Bookseller
    .team-member
      //img url: https://th.bing.com/th/id/R.7dbf9e691a64987cd31b535fc7cf871e?rik=iOxvZG9lhimi7A&riu=http%3a%2f%2fwww.elegantislandliving.net%2fdownloads%2f21592%2fdownload%2fMary+Jane+Reed+GJ+Ford+Bookshop.jpg%3fcb%3d57506aae6cac4be47a121f8ea100b686%26w%3d%7bwidth%7d%26h%3d%7bheight%7d&ehk=K8zpa%2fIoqU0auxsCmBIMbWoTXIUY0qvn7Epc3T7LNWY%3d&risl=&pid=ImgRaw&r=0
      img#img(src="/img/worker.jpeg", alt="Team Member 2")
      p.name Jane Doe
      p.title Bookseller & Reading Enthusiast
    
  .contact-us
    h2 Contact Us
    p We'd love to hear from you!
    p.address
      123 Main Street Anytown, CA A1B 2C3
    p.phone (555) 555-5555
    p.email info@bookhaven.com
