extends common/layout

block layout-content
  .main-content
    h1.page-title Our Books
    ul
      each book in books
        li
          h2 #{book.title}
          p Author: #{book.author}
          p Year: #{book.year}
          p Genre: #{book.genre}
          //
          img
    h2 Add a new book
    form(action='/books/add', method='POST')
      label(for='title') Title:
      input(type='text', name='title', id='title')
      br
      label(for='author') Author:
      input(type='text', name='author', id='author')
      br
      label(for='year') Year:
      input(type='number', name='year', id='year')
      br
      label(for='genre') Genre:
      input(type='text', name='genre', id='genre')
      br
      button(type='submit') Add Book
