header#header 
    h2#site-name 
        a(href="/") JewelCraze
    nav
        ul#menu
            li 
                a(href="#") Home 
            li 
                a(href="#") Shop
            li 
                a(href="#") About Us
            li
                a(href="#") Contact